@import "tailwindcss";

.active hr {
  @apply block
}

html {
  scroll-behavior: smooth;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

.ellipse div {
  background-color: gray;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid transparent;

  cursor: pointer;

}

.ellipse div:hover {
  background-color: #DB4444;
  border-color: white;
}

.svg-black {
  filter: brightness(0) saturate(100%);
}

.svg-white {
  filter: brightness(0) invert(1);

}

.icon-bg-white:hover img {
  filter: brightness(0) invert(1);
}

.footer li {
  font-size: 12px;
  font-weight: 300;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.copyrights {
  border-top: 1px solid rgba(209, 213, 220, 0.16);

}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #A0A3BD;
}

.form-input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: #F5F5F5;
  outline: none;
}